<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Confi
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="WestConnectionString" connectionString="Data Source=WADALASSUSERVER;Initial Catalog=Pms_West_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$;Connect TimeOut=1205;Provider=SQLOLEDB" providerName="System.Data.OleDb"/>
		<add name="EastConnectionString" connectionString="Data Source=WADALASSUSERVER;Initial Catalog=Pms_East_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$;Connect TimeOut=1205;Provider=SQLOLEDB" providerName="System.Data.OleDb"/>
		<add name="SouthConnectionString" connectionString="Data Source=WADALASSUSERVER;Initial Catalog=Pms_South_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$;Connect TimeOut=1205;Provider=SQLOLEDB" providerName="System.Data.OleDb"/>
		<add name="NorthConnectionString" connectionString="Data Source=WADALASSUSERVER;Initial Catalog=Pms_North_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$;Connect TimeOut=1205;Provider=SQLOLEDB" providerName="System.Data.OleDb"/>
		<add name="MumbaiConnectionString" connectionString="Data Source=WADALASSUSERVER;Initial Catalog=Pms_BVU_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$;Connect TimeOut=1205;Provider=SQLOLEDB" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<!--<pages enableViewState="true" viewStateEncryptionMode="Always" enableViewStateMac="true"/>-->
		<httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true"/>
		<!-- <pages viewStateEncryptionMode="Always" enableViewStateMac = "true" ViewStateUserKey="String"/> Added By Rupesh -->
		<!-- <pages>    
    <controls>
    
        <add  namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
    </controls>
    </pages> -->
		<!--<sessionState cookieless="false" mode="InProc" timeout="240"/>-->
		<sessionState cookieless="false" mode="InProc" timeout="240"/>
		<httpRuntime enableVersionHeader="false" executionTimeout="10675199" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<authentication mode="None"/>
		<identity impersonate="false"/>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CppCodeProvider, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="CrystalDecisions.Windows.Forms, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows"/>-->
		<customErrors mode="Off" defaultRedirect="InvalidRequest.aspx"/>
		<httpHandlers>
			<add verb="GET" path="Image.ashx" type="ASPNET_Captcha.Image, ASPNET_Captcha"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="Westconstring" value="Data Source=WADALASSUSERVER;Initial Catalog=Pms_West_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$"/>
			<add key="Eastconstring" value="Data Source=WADALASSUSERVER;Initial Catalog=Pms_East_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$"/>
			<add key="Mumbaiconstring" value="Data Source=WADALASSUSERVER;Initial Catalog=Pms_BVU_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$"/>
			<add key="Southconstring" value="Data Source=WADALASSUSERVER;Initial Catalog=Pms_South_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$"/>
			<add key="Northconstring" value="Data Source=WADALASSUSERVER;Initial Catalog=Pms_North_UAT;User ID=PMSUAT;Password=PM$U@T4$52#30@U@T$"/>
			<add key="ConnectionString_Negative" value="Server=WADALASSUSERVER;Database=CPV_Negative;UID=PMSUAT;pwd=PM$U@T4$52#30@U@T$"/>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<add key="aspnet:MaxHttpCollectionKeys" value="120000"/>
			<add key="aspnet:MaxJsonDeserializerMembers" value="120000"/>
			<add key="FtpPath" value="ftp://103.8.127.41/"/>
			<add key="FtpPathNegMatch" value="ftp://103.8.127.41/"/>
			<add key="SMSUserId" value="PAMAC"/>
			<add key="SMSPassword" value="55555"/>
			<add key="FE_SignImagePath" value="Images\\FE_Sign\\"/>
			<add key="SUP_SignImagePath" value="Images\\SUP_Sign\\"/>
			<add key="CentrePamacSealImagePath" value="Images\\CentreImageSeal\\"/>
			<add key="ImageUpload" value="Images\TempImage\"/>
			<add key="FileUploadPath" value="G:\\NegativeDedup\\FileUploadPath\\"/>
			<add key="FtpUploadFilePath" value="G:\upload_file\\"/>
			<add key="CharLength" value="4"/>
			<add key="SpecialCharLength" value="1"/>
			<add key="NumLength" value="3"/>
			<add key="GESBI_ExportFilePath" value="C:\\Temp\\"/>
		</appSettings>
		<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
			<defaultDocument>
				<files>
					<add value="Index.aspx"/>
				</files>
			</defaultDocument>
			<directoryBrowse enabled="false"/>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By"/>
				</customHeaders>
			</httpProtocol>
			<handlers>
				<add name="CaptchaHandler" path="Image.ashx" verb="GET" type="ASPNET_Captcha.Image, ASPNET_Captcha" resourceType="Unspecified" />
			</handlers>
		</system.webServer>
	</location>
	<location path="PMSService"/>
</configuration>