<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- <add key="ConnectionString" value="Server=172.16.0.42;Database=Pms_west;UID=sa;pwd=P@M@c$QL@1433;Min Pool Size=0;Max Pool Size=500;Pooling=true ;"></add> -->
		 <add key="ConnectionString" value="Server=172.16.0.42;Database=Pms_west;UID=PMS;pwd=P@M@c$QL$9M$;Min Pool Size=0;Max Pool Size=500;Pooling=true ;"></add>


	  <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
<customErrors mode="Off" /> 

  </system.web>
  <system.serviceModel>
    <services>
      <service name="PMSService.Service1">
        <endpoint address="" behaviorConfiguration="NewBehavior" binding="webHttpBinding" bindingConfiguration="" contract="PMSService.IService1" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    
	  <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>

</configuration>
